{% extends "base.html" %}

{% block content %}
<div class="mb-3">
  {% set message_classes = dict(success="is-success", error="is-danger") %}
  {% set default_message_classes = "is-info" %}
  {% set messages = get_flashed_messages(with_categories=True) %}
  {% for category, message in messages %}
  <div class="notification {{ message_classes[category] or default_message_classes }}">
    <!-- hack: use anchor tag to refresh the page and make the notification go away -->
    <a class="delete" href="/"></a>
    <div class="block">{{ message | safe }}</div>
  </div>
  {% endfor %}
</div>

<div class="is-flex is-justify-content-space-between">
  <h1 class="title">Apps</h1>
  <div class="block">
    <form type="submit" action="/apps/check_for_updates" method="POST" class="is-inline">
      <button class="button is-info mr-1">Check for updates</button>
    </form>
    <button class="button is-primary ml-1">Create new</button>
  </div>
</div>

{% if apps %}
<table class="table is-fullwidth">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Git URL</th>
    <th>Version</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {% for app in apps %}
    <tr>
      <th>{{ loop.index }}</th>
      <td>{{ app.name }}</td>
      <td>
        {% if app.git_url %}
        <a href="{{ app.git_url }}" target="_blank" class="is-truncated-left">
          {{ app.git_url }}
        </a>
        {% else %}
        <span class="has-text-grey">Not using Git</span>
        {% endif %}
      </td>
      <td>
        {% if app.version %}
        {{ app.version }} {% if app.is_update_available() %}<span class="has-text-grey"><em>(Update available)</em></span>{% endif %}
        {% else %}
        <div class="has-text-centered has-text-gray">-</span>
        {% endif %}
      </td>
      <td>
        <!-- TODO: sync the app when this is clicked -->
        <!-- how to?
          -- 1. POST request as a form-button
          -- 2. GET request as a link
        -->
        <form action="/apps/{{ app.name }}/sync" class="is-inline" method="POST">
          {% set enabled = app.version and app.is_update_available() %}
          {% set button_class = "has-text-primary" if enabled else "has-text-grey-light" %}
          <button type="submit" class="button icon {{ button_class }}" {% if not enabled %}disabled{% endif %}>
            <i class="fas fa-sync"></i>
          </button>
        </form>
        <!-- TODO: delete the app when this is clicked -->
        <form action="/apps/{{ app.name }}/delete" class="is-inline" method="POST">
          <button class="button icon has-text-danger" onclick="return confirm('Are you sure you want to delete {{ app.name }}?')">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<em>No apps deployed yet. Create one to see it here.</em>
{% endif %}
{% endblock %}
