{% extends "base.html" %}

{% block content %}
<div class="is-flex is-justify-content-space-between">
  <h1 class="title">Apps</h1>
  <div class="block">
    <a href="/apps/create"><button class="button is-primary ml-1">Create new</button></a>
  </div>
</div>

{% if apps %}
<table class="table is-fullwidth">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Git URL</th>
    <th>Version</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {% for app in apps %}
    <tr>
      <th>{{ loop.index }}</th>
      <td>{{ app.name }}</td>
      <td>
        {% if app.git_url and app.git_url.startswith("https://") %}
        <a href="{{ app.git_url }}" target="_blank" class="is-truncated-left">
          {{ app.git_url }}
        </a>
        {% elif app.git_url %}
          {{ app.git_url }}
        {% else %}
        <span class="has-text-grey">Not using Git</span>
        {% endif %}
      </td>
      <td>
        {% if app.version %}
        {{ app.version }}
        {% else %}
        <span class="has-text-gray">-</span>
        {% endif %}
      </td>
      <td>
        <form action="/apps/{{ app.name }}/sync" class="is-inline" method="POST">
          <button type="submit" class="button icon has-text-primary">
            <i class="fas fa-sync"></i>
          </button>
        </form>
        <form action="/apps/{{ app.name }}/delete" class="is-inline" method="POST">
          <button class="button icon has-text-danger ml-1" onclick="return confirm('Are you sure you want to delete {{ app.name }}?')">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<em>No apps deployed yet. Create one to see it here.</em>
{% endif %}
{% endblock %}
