[Unit]
Description=Boring API (pipalacademy/boring-serverless)
After=network.target

[Service]
Type=simple

# change this
User=dev
Group=dev

# change this
WorkingDirectory=/home/dev/boring-serverless
ExecStart=/home/dev/boring-serverless/venv/bin/python -m gunicorn api:app -b 127.0.0.1:8000

[Install]
WantedBy=multi-user.target
